<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [12]:
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=dlY9MVRK6sb4zDWxwcR5W5dZsnzFtw6l"
response = requests.get(url)
data = response.json()
data

{'success': True,
 'timestamp': 1673929083,
 'base': 'EUR',
 'date': '2023-01-17',
 'rates': {'AED': 3.975257,
  'AFN': 97.522969,
  'ALL': 116.472932,
  'AMD': 428.970713,
  'ANG': 1.952205,
  'AOA': 545.223962,
  'ARS': 197.174696,
  'AUD': 1.553537,
  'AWG': 1.948116,
  'AZN': 1.852776,
  'BAM': 1.956792,
  'BBD': 2.187074,
  'BDT': 112.615443,
  'BGN': 1.95782,
  'BHD': 0.408063,
  'BIF': 2246.191936,
  'BMD': 1.082287,
  'BND': 1.43005,
  'BOB': 7.485351,
  'BRL': 5.571282,
  'BSD': 1.083192,
  'BTC': 5.1267033e-05,
  'BTN': 88.51376,
  'BWP': 13.798735,
  'BYN': 2.733904,
  'BYR': 21212.822382,
  'BZD': 2.183402,
  'CAD': 1.450979,
  'CDF': 2196.485431,
  'CHF': 1.002094,
  'CLF': 0.032268,
  'CLP': 890.375339,
  'CNY': 7.319486,
  'COP': 5075.795481,
  'CRC': 618.439627,
  'CUC': 1.082287,
  'CUP': 28.680602,
  'CVE': 110.321763,
  'CZK': 24.00944,
  'DJF': 192.837637,
  'DKK': 7.438569,
  'DOP': 61.287702,
  'DZD': 147.175832,
  'EGP': 32.087751,
  'ERN': 16.234303,
  'ETB': 58.090968,
  'EUR': 1,
  'FJD': 2.374051,
  'FKP': 0.886549,
  'GBP': 0.887854,
  'GEL': 2.879048,
  'GGP': 0.886549,
  'GHS': 12.999208,
  'GIP': 0.886549,
  'GMD': 67.291219,
  'GNF': 9332.870767,
  'GTQ': 8.503379,
  'GYD': 226.638704,
  'HKD': 8.460004,
  'HNL': 26.724269,
  'HRK': 7.621684,
  'HTG': 160.310633,
  'HUF': 399.18525,
  'IDR': 16399.892733,
  'ILS': 3.68957,
  'IMP': 0.886549,
  'INR': 88.558176,
  'IQD': 1580.969615,
  'IRR': 45699.562411,
  'ISK': 154.507538,
  'JEP': 0.886549,
  'JMD': 165.637041,
  'JOD': 0.767667,
  'JPY': 139.387937,
  'KES': 134.214846,
  'KGS': 92.73037,
  'KHR': 4446.541318,
  'KMF': 492.251108,
  'KPW': 974.007182,
  'KRW': 1339.995572,
  'KWD': 0.330552,
  'KYD': 0.902739,
  'KZT': 502.024385,
  'LAK': 18271.388029,
  'LBP': 1637.96115,
  'LKR': 396.457632,
  'LRD': 167.619157,
  'LSL': 18.204008,
  'LTL': 3.195711,
  'LVL': 0.654665,
  'LYD': 5.154142,
  'MAD': 10.974348,
  'MDL': 20.624068,
  'MGA': 4849.701591,
  'MKD': 61.644154,
  'MMK': 2274.703962,
  'MNT': 3738.120558,
  'MOP': 8.714742,
  'MRO': 386.376222,
  'MUR': 47.294131,
  'MVR': 16.661825,
  'MWK': 1106.611135,
  'MXN': 20.323291,
  'MYR': 4.686109,
  'MZN': 69.082161,
  'NAD': 18.204345,
  'NGN': 489.864802,
  'NIO': 39.580536,
  'NOK': 10.72404,
  'NPR': 141.614321,
  'NZD': 1.692226,
  'OMR': 0.416691,
  'PAB': 1.083257,
  'PEN': 4.129691,
  'PGK': 3.817382,
  'PHP': 59.222196,
  'PKR': 247.916814,
  'PLN': 4.687433,
  'PYG': 8018.870165,
  'QAR': 3.940584,
  'RON': 4.932414,
  'RSD': 117.29851,
  'RUB': 74.152916,
  'RWF': 1159.562332,
  'SAR': 4.064942,
  'SBD': 8.982252,
  'SCR': 14.67328,
  'SDG': 629.890518,
  'SEK': 11.286959,
  'SGD': 1.430889,
  'SHP': 1.490741,
  'SLE': 20.682129,
  'SLL': 20671.678646,
  'SOS': 615.277814,
  'SRD': 34.281476,
  'STD': 22401.152796,
  'SVC': 9.478614,
  'SYP': 2718.698463,
  'SZL': 18.528106,
  'THB': 35.770702,
  'TJS': 11.059937,
  'TMT': 3.798827,
  'TND': 3.324244,
  'TOP': 2.519131,
  'TRY': 20.336679,
  'TTD': 7.356481,
  'TWD': 32.82197,
  'TZS': 2523.893235,
  'UAH': 39.801704,
  'UGX': 3980.985072,
  'USD': 1.082287,
  'UYU': 42.961509,
  'UZS': 12285.950512,
  'VEF': 2081768.804053,
  'VES': 21.026328,
  'VND': 25366.098193,
  'VUV': 126.150853,
  'WST': 2.902399,
  'XAF': 656.258275,
  'XAG': 0.044906,
  'XAU': 0.000567,
  'XCD': 2.924935,
  'XDR': 0.803361,
  'XOF': 656.255242,
  'XPF': 119.727963,
  'YER': 270.889566,
  'ZAR': 18.458417,
  'ZMK': 9741.878777,
  'ZMW': 19.957862,
  'ZWL': 348.495926}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [13]:
df = pd.DataFrame(data)
df

     success   timestamp base        date        rates
AED     True  1673929083  EUR  2023-01-17     3.975257
AFN     True  1673929083  EUR  2023-01-17    97.522969
ALL     True  1673929083  EUR  2023-01-17   116.472932
AMD     True  1673929083  EUR  2023-01-17   428.970713
ANG     True  1673929083  EUR  2023-01-17     1.952205
..       ...         ...  ...         ...          ...
YER     True  1673929083  EUR  2023-01-17   270.889566
ZAR     True  1673929083  EUR  2023-01-17    18.458417
ZMK     True  1673929083  EUR  2023-01-17  9741.878777
ZMW     True  1673929083  EUR  2023-01-17    19.957862
ZWL     True  1673929083  EUR  2023-01-17   348.495926

[170 rows x 5 columns]

In [23]:
df = df[['rates']]
df.rename(columns={"rates":"Rates"}, inplace=True)
df

           Rates
AED     3.975257
AFN    97.522969
ALL   116.472932
AMD   428.970713
ANG     1.952205
..           ...
YER   270.889566
ZAR    18.458417
ZMK  9741.878777
ZMW    19.957862
ZWL   348.495926

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [24]:
df.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).