In [109]:
from pymongo import MongoClient
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [110]:
client = MongoClient("mongodb+srv://<>:<>@<>/<>")
db = client["sample_training"]
company = db["companies"]
zips = db["zips"]

In [111]:
zips

Collection(Database(MongoClient(host=['ac-9wyyx3r-shard-00-01.kejexjk.mongodb.net:27017', 'ac-9wyyx3r-shard-00-02.kejexjk.mongodb.net:27017', 'ac-9wyyx3r-shard-00-00.kejexjk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-7w81fn-shard-0', tls=True), 'sample_training'), 'zips')

In [112]:
# ------------------------------------------------------------------Zips---------------------------------------------------------------------------------------------------------

In [113]:
df_zips = pd.DataFrame(list(zips.find()))

In [114]:
df_zip = pd.DataFrame(df_zips['loc'].values.tolist())

In [115]:
df_zip

               y           x
0      33.331165   86.208934
1      33.409002   86.947547
2      33.584132   86.515570
3      34.268298   86.621299
4      33.414625   86.999607
...          ...         ...
29465  42.247340  110.210865
29466  42.933026  111.011354
29467  41.049144  110.172862
29468  41.329136  110.292629
29469  42.712829  110.941976

[29470 rows x 2 columns]

In [116]:
df=df_zip.rename(columns = {'y': 'latitude', 'x': 'longitude'})

In [117]:
df_merged = df_zips.join(df)

In [118]:
df_zip_final = df_merged.drop(columns=['loc'])

In [119]:
df_zip_final

,_id,city,zip,pop,state,latitude,longitude
0,5c8eccc1caa187d17ca6ed16,ALPINE,35014,3062,AL,33.331165,86.208934
1,5c8eccc1caa187d17ca6ed17,BESSEMER,35020,40549,AL,33.409002,86.947547
2,5c8eccc1caa187d17ca6ed18,ACMAR,35004,6055,AL,33.584132,86.515570
3,5c8eccc1caa187d17ca6ed19,BAILEYTON,35019,1781,AL,34.268298,86.621299
4,5c8eccc1caa187d17ca6ed1a,HUEYTOWN,35023,39677,AL,33.414625,86.999607
...,...,...,...,...,...,...,...
29465,5c8eccc1caa187d17ca7604c,LA BARGE,83123,606,WY,42.247340,110.210865
29466,5c8eccc1caa187d17ca7604d,THAYNE,83127,505,WY,42.933026,111.011354
29467,5c8eccc1caa187d17ca7604e,LONETREE,82936,24,WY,41.049144,110.172862
29468,5c8eccc1caa187d17ca7604f,LYMAN,82937,2327,WY,41.329136,110.292629
29469,5c8eccc1caa187d17ca76050,AFTON,83110,3201,WY,42.712829,110.941976

In [120]:
df_zip_final['_id'] = df_zip_final['_id'].astype('string')

In [121]:
df_zip_final.dtypes

_id           string
city          object
zip           object
pop            int64
state         object
latitude     float64
longitude    float64
dtype: object

In [122]:
url = 'postgresql+psycopg2://airflow_user:airflow_pass@localhost:5432/airflow_db'
engine = create_engine(url)
conn = psycopg2.connect(database="airflow_db", user='airflow_user', password='airflow_pass', host='localhost', port= '5432')

In [123]:
cursor = conn.cursor()

sql ='''CREATE TABLE IF NOT EXISTS dwh_final.zips(
   _id text not null,
   city text,
   zip integer,
   pop integer,
   state text,
   latitude float,
   longitude float
)'''

cursor.execute(sql)
print("Table created successfully........")
conn.commit()
conn.close()

Table created successfully........

In [124]:
df_zip_final.to_sql('zips', index=False, con=engine, schema='dwh_final', if_exists='replace')

470

In [125]:
# ------------------------------------------------------------------Company------------------------------------------------------------------------------------------------------

In [126]:
company = db["companies"]

In [127]:
companies = pd.DataFrame()
array_columns = []

In [128]:
for field in company.find():
    comps_dict = {}
    
    for key, value in field.items():
        if key == '_id':
            comps_dict["id"] = str(value)

        elif key == 'offices':
            if len(value) > 0:
                for k, v in value[0].items():
                    comps_dict["offices_" + k] = v
            else:
                pass

        elif type(value) == dict or type(value) == list:
            if key not in array_columns:
                array_columns.append(key)        
            else:
                pass
        
        else:
            comps_dict[key] = value
        
    df_value = pd.DataFrame([comps_dict])
    
    companies = pd.concat([companies,df_value])

In [129]:
companies.dtypes

id                       object
name                     object
permalink                object
crunchbase_url           object
homepage_url             object
blog_url                 object
blog_feed_url            object
twitter_username         object
category_code            object
number_of_employees      object
founded_year             object
founded_month            object
founded_day              object
deadpooled_year          object
tag_list                 object
alias_list               object
email_address            object
phone_number             object
description              object
created_at               object
updated_at               object
overview                 object
total_money_raised       object
offices_description      object
offices_address1         object
offices_address2         object
offices_zip_code         object
offices_city             object
offices_state_code       object
offices_country_code     object
offices_latitude        float64
offices_longitude       float64
deadpooled_month         object
deadpooled_day           object
deadpooled_url           object
acquisition              object
ipo                      object
image                    object
dtype: object

In [130]:
companies= companies.drop(['image','acquisition','ipo'], axis = 1)

In [131]:
# companies['tag_list'
#           #'founded_day',
#           #'deadpooled_year',
#           #'tag_list', 
#           #'alias_list', 
#           #'email_address', 
#           #'phone_number',
#           #'description',
#           #'created_at',
#           #'updated_at',
#           #'overview'
#          ]

In [132]:
companies.head()

,id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices_address2,offices_zip_code,offices_city,offices_state_code,offices_country_code,offices_latitude,offices_longitude,deadpooled_month,deadpooled_day,deadpooled_url
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47,...,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253,NaN,NaN,NaN
0,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299,...,,94025,Menlo Park,CA,USA,37.416050,-122.151801,None,None,
0,52cdef7c4bab8bd675297d8f,Omnidrive,omnidrive,http://www.crunchbase.com/company/omnidrive,http://www.omnidrive.com,http://www.omnidrive.com/blog,http://feeds.feedburner.com/omnidrive,Nomadesk,network_hosting,None,...,654 High Street,94301,Palo Alto,CA,ISR,NaN,NaN,9,15,
0,52cdef7c4bab8bd675297d94,Twitter,twitter,http://www.crunchbase.com/company/twitter,http://twitter.com,http://twitter.com/blog,http://feeds.feedburner.com/TwitterBlog,twitter,social,1300,...,,94103,San Francisco,CA,USA,37.776805,-122.416924,None,None,
0,52cdef7c4bab8bd675297d95,StumbleUpon,stumbleupon,http://www.crunchbase.com/company/stumbleupon,http://www.stumbleupon.com,http://www.stumbleupon.com/blog,,stumbleupon,web,None,...,,,San Francisco,CA,USA,37.775196,-122.419204,None,None,None

In [134]:
conn = psycopg2.connect(database="airflow_db", user='airflow_user', password='airflow_pass', host='localhost', port= '5432')
cursor = conn.cursor()

sql2 ='''CREATE TABLE IF NOT EXISTS dwh_final.companies(
   id text not null,
   name text,
   permalink text,
   crunchbase_url text,
   homepage_url text,
   blog_url text,
   blog_feed_url text,
   twitter_username text,
   category_code text,
   number_of_employees integer,
   founded_year integer,
   founded_month integer,
   founded_day integer,
   deadpooled_year integer,
   tag_list text, 
   alias_list text,
   email_address text,
   phone_number integer,
   description text,
   created_at text,
   updated_at text,
   overview text,
   total_money_raised integer,
   offices_description text,
   offices_address1 text,
   offices_address2 text,
   offices_zip_code integer,
   offices_city text,
   offices_state_code text,
   offices_country_code text,
   offices_latitude float,
   offices_longitude float,
   deadpooled_month text,
   deadpooled_day text,
   deadpooled_url text
)'''

cursor.execute(sql2)
print("Table created successfully........")
conn.commit()

Table created successfully........

In [135]:
companies.to_sql('companies', index=False, con=engine, schema='dwh_final', if_exists='replace')

500